<div class="container"
		infiniteScroll
		[infiniteScrollDistance]="2"
		[infiniteScrollThrottle]="50"
		(scrolled)="onScroll()">
	<h5>Repositórios em {{ language }}</h5>
	<span *ngFor="let repo of repositories">
		<mat-list
				class="selectable"
				[ngClass]="{ active: repo.id === selectedRepo }"
				(click)="select(repo.id)">
			<h5 matLine>{{ repo.name }}</h5>
			<mat-icon class="fav-icon" (click)="onFavorite(repo)">{{ repo.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
			<p matSubheader>{{ (repo.description.length > 150) ? (repo.description | slice:0:150)+'...' : (repo.description) }}</p>
			<p matLine class="grey-text"><mat-icon class="small-icon">star</mat-icon>{{ repo.stargazers_count | number }}</p>
		</mat-list>
		<mat-divider></mat-divider>
	</span>
	<mat-spinner color="accent" *ngIf="!repositories && !err"></mat-spinner>
	<span *ngIf="err">
		<h5 class="warn">
			Ops, limite de buscas no Github atingido!<br>
			Tente novamente em alguns segundos.
		</h5>
		<button mat-raised-button color="primary" (click)="cleanError()">Buscar novamente</button>
	</span>
</div>