.logo {
	color: rgba(255, 255, 255, 0.87);
	text-decoration: none;
}

mat-toolbar {
	position: fixed;
	top: 0;
	z-index: 2;
	background: #00b8d4;
	background: -webkit-linear-gradient(left, #00b8d4 0%,#26c6da 100%);
	background:    -moz-linear-gradient(left, #00b8d4 0%, #26c6da 100%);
	background:         linear-gradient(to right, #00b8d4 0%,#26c6da 100%);
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}